:root {
  --primary-hue: 212;
  --secondary-hue: 315;

  --primary: var(--primary-hue), 78%, 41%;
  --accent: var(--primary-hue), 100%, 20%;
  --secondary: var(--secondary-hue), 88%, 64%;

  --light: var(--primary-hue), 100%, 96%;
  --dark: var(--primary-hue), 100%, 7%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: hsl(var(--primary));
  width: 100vw;
  min-height: 110vh;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
}

.pill {
  border-radius: 9999px;
}

.p-1 {
  padding: .5rem;
}

.accent-el {
  background-color: hsl(var(--secondary), .8);
  outline-color: transparent;
  border-color: transparent;
}

.accent-el:hover {
  background-color: hsl(var(--secondary));
}

.large-nav {
  background-color: hsl(var(--light));
  display: grid;
  min-height: 400px;
}

.hidden-nav {
  padding-block: .5rem;
  background-color: hsl(var(--dark));
  color: hsl(var(--light));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -100%;
  transition: top .3s ease;
}

.flex-g2 {
  display: flex;
  gap: 1rem;
}

.pl-2 { padding-left: 1rem; }
.pr-2 { padding-right: 1rem; }

.top-0 {
  top: 0px !important;
}

.primary-svg {
  fill: transparent;
  stroke: hsl(var(--primary));
}

.trans-svg {
  fill: transparent;
  stroke: hsl(var(--secondary), .2);
}

.flex-auto {
  flex: auto;
}

.fit {
  width: fit-content;
}

.flex-middle {
  align-items: center;
}

.relative {
  position: relative;
}

.large-logo-bg {
  position: absolute;
}

.page-title * {
  background-image: linear-gradient(45deg, hsl(var(--accent)), hsl(var(--primary), .6));
  color: transparent;
  background-clip: text;
  padding: 0;
  margin: 0;
  z-index: 10;
  letter-spacing: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
}

.page-title h1 {
  font-weight: 700;
  font-size: 6rem;
}

.page-title span {
  font-size: 3rem;
}