:root {
  --primary-hue: 215;
  --secondary-hue: 315;
  --primary: var(--primary-hue), 48%, 51%;
  --accent: var(--primary-hue), 100%, 20%;
  --secondary: var(--secondary-hue), 80%, 64%;
  
  --light: var(--primary-hue), 100%, 96%;
  --dark: var(--primary-hue), 100%, 7%;
  
  --transition-sm: 300ms;
  --transition-md: 500ms;
  --transition-lg: 750ms;
  
  --mobile-width: 425px;
}

.unset { all: unset; }

*, *::after, *::before {
  box-sizing: border-box;
}

button, .pointer { cursor: pointer;}

.pill {
  border-radius: 9999px;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: hsl(var(--primary));
  width: 100vw;
  min-height: 110vh;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
}

.large-nav {
  background-image: linear-gradient(35deg, hsl(var(--light)), hsl(var(--light), .7));
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(250px, var(--mobile-width)));
  color: hsl(var(--dark));
  padding: 2rem;
  position: relative;
}

.large-nav * {
  z-index: 2;
}

.z-1 { z-index: 1;}
.z-1000 { z-index: 1000;}

.hidden-nav {
  padding-block: .5rem;
  background-color: hsl(var(--dark));
  color: hsl(var(--light));
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -100%;
  transition: top var(--transition-lg) ease;
}

.hamburger {
  display: none;
}

.carousel {
  overflow: hidden;
  display: flex;
  position: relative;
}

.carousel-slide {
  flex-shrink: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 80px;
}

.carousel-slide div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}


.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color var(--transition-lg) linear;
  z-index: 1001;
  animation: getDarker var(--transition-md) forwards;
}

.transparent {
  animation: getTransparent var(--transition-md) forwards;
}

@keyframes getDarker {
  100% {
    background-color: hsl(var(--dark), .6);
  }
}

@keyframes getTransparent {
  0% { background-color: hsl(var(--dark), .6);}
  100% {
    background-color: transparent;
  }
}

/* CARDS */
.accent-card {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: hsl(var(--accent), .9);
}

/* ELEMENT STYLES */
.accent-el,
.accent-el-trans,
.primary-el,
.secondary-el,
.light-el,
.dark-el {
  outline-color: transparent;
  border-color: transparent;
  transition: background-color var(--transition-sm) linear,
              border-color var(--transition-sm) linear;
}
.accent-el-trans { background-color: hsl(var(--accent), .1);}
.accent-el-trans:hover {
  background-color: hsl(var(--accent), .3);
}
.accent-el {
  background-color: hsl(var(--accent), .8);}
.accent-el:hover { background-color: hsl(var(--accent));}
.primary-el {
  background-color: hsl(var(--primary), .8);
  color: hsl(var(--light));
}
.primary-el:hover { 
  background-color: hsl(var(--primary));
  border-color: hsl(var(--light));
}
.secondary-el {
  background-color: hsl(var(--secondary), .8);
  color: hsl(var(--light));
}
.secondary-el:hover {
  border-color: hsl(var(--light));
  background-color: hsl(var(--secondary));
}

.sm-text-shadow-dark { text-shadow: 1px 1px 1px hsl(var(--dark));}
.sm-text-outline-primary {
  text-shadow: 1px 1px 0 hsl(var(--primary)),
    1px -1px 0 hsl(var(--primary)),
    -1px -1px 0 hsl(var(--primary)),
    -1px 1px 0 hsl(var(--primary));
}
.sm-text-outline-dark {
  text-shadow: 1px 1px 0 hsl(var(--dark)),
    1px -1px 0 hsl(var(--dark)),
    -1px -1px 0 hsl(var(--dark)),
    -1px 1px 0 hsl(var(--dark));
}
.sm-text-outline-light {
  text-shadow: 1px 1px 0 hsl(var(--light)),
    1px -1px 0 hsl(var(--light)),
    -1px -1px 0 hsl(var(--light)),
    -1px 1px 0 hsl(var(--light));
}
.sm-text-outline-accent {
  text-shadow: 1px 1px 0 hsl(var(--accent)),
    1px -1px 0 hsl(var(--accent)),
    -1px -1px 0 hsl(var(--accent)),
    -1px 1px 0 hsl(var(--accent));
}
.sm-text-outline-secondary {
  text-shadow: 1px 1px 0 hsl(var(--secondary)),
    1px -1px 0 hsl(var(--secondary)),
    -1px -1px 0 hsl(var(--secondary)),
    -1px 1px 0 hsl(var(--secondary));
}
.sm-shadow-dark {
  box-shadow: 0 2px 5px -2px hsl(var(--dark));
}
.md-shadow-dark {
  box-shadow: 0 4px 10px 0px hsl(var(--dark));
}

.gap-1 { gap: .5rem;}
.gap-2 { gap: 1rem;}
.gap-3 { gap: 1.5rem;}
.gap-4 { gap: 2rem;}

.p-1 { padding: .5rem;}
.p-2 { padding: 1rem;}

.pl-2 { padding-left: 1rem; }
.pr-2 { padding-right: 1rem; }

.pt-4 { padding-top: 2rem;}

.px-0 { padding-inline: 0px;}
.px-1 { padding-inline: .5rem;}
.px-2 { padding-inline: 1rem;}
.px-3 { padding-inline: 1.5rem;}
.px-4 { padding-inline: 2rem;}
.px-5 { padding-inline: 2.5rem;}

.py-1 { padding-block: .5rem}
.py-2 { padding-block: 1rem;}



/* GRID */
.col-1to3 { grid-column: 1 / 3;}

/* FLEX */
.flex { display: flex;}
.flex-auto {
  flex: auto;
}
.flex-middle {
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

 /* FONT-COLORS */
.text-light { color: hsl(var(--light)) !important;}
.text-dark { color: hsl(var(--dark)) !important;}
.text-primary { color: hsl(var(--primary)) !important;}
.text-secondary { color: hsl(var(--secondary)) !important;}
.text-accent { color: hsl(var(--accent)) !important;}

.hover-light,
.hover-dark,
.hover-primary,
.hover-secondary,
.hover-accent {
  transition: color var(--transition-sm) linear;
}
.hover-accent:hover { color: hsl(var(--accent)) !important;}
.hover-primary:hover { color: hsl(var(--primary)) !important;}
.hover-secondary:hover { color: hsl(var(--secondary)) !important;}
.hover-light:hover { color: hsl(var(--light)) !important;}
.hover-dark:hover { color: hsl(var(--dark)) !important;}

/* FONT-STYLES */
.sm-info,
.md-info,
.lg-info {
  font-style: italic;
}
.sm-message,
.md-message,
.lg-message,
.xl-message {
  font-weight: 700;
}
.sm-info,
.sm-message {
  font-size: .8rem;
}
.md-info,
.md-message {
  font-size: 1.2rem;
}
.lg-info,
.lg-message {
  font-size: 1.6rem;
}
.xl-message { font-size: 2rem;}

/* PAGE TITLE AND LOGO LAYOUT */
.large-logo-bg {
  position: absolute;
}
.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title * {
  --font-height: 9rem;
  background-image: linear-gradient(115deg, hsl(var(--accent)), hsl(var(--primary), .6));
  color: transparent;
  background-clip: text;
  padding: 0;
  margin: 0;
  z-index: 10;
  letter-spacing: 3px;
  line-height: .85;
  position: relative;
}
.page-title h1 {
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-height);
}
.page-title span {
  --primary: var(--secondary-hue), 100%, 20%;
  font-size: calc(var(--font-height) / 2);
  font-family: cursive;
}

/* OPACITY >>> format: 't-' + [n * 10%] */
.t-1 { opacity: .1;}
.t-2 { opacity: .2;}
.t-3 { opacity: .3;}
.t-4 { opacity: .4;}
.t-5 { opacity: .5;}
.t-6 { opacity: .6;}
.t-7 { opacity: .7;}
.t-8 { opacity: .8;}
.t-9 { opacity: .9;}

/* POSITION PROPERTIES */
.relative { position: relative;}
.absolute { position: absolute;}
.top-0 { top: 0px !important;}
.bottom-0 { bottom: 0px !important;}
.left-0 { left: 0px !important;}
.top-half { top: 50%;}

/* STROKES (sets fill to transparent by default) */
.primary-stroke,
.secondary-stroke,
.accent-stroke,
.light-stroke,
.dark-stroke { fill: transparent;}
.primary-stroke { stroke: hsl(var(--primary)) !important;}
.secondary-stroke { stroke: hsl(var(--secondary)) !important;}
.accent-stroke { stroke: hsl(var(--accent)) !important;}
.light-stroke { stroke: hsl(var(--light)) !important;}
.dark-stroke { stroke: hsl(var(--dark)) !important;}

/* ROTATION */
.rotate-90 { transform: rotate(90deg);}
.rotate-180 { transform: rotate(180deg);}
.rotate-270 { transform: rotate(270deg);}

/* LINE HEIGHT >>> fomat: 'lh-' + [n * 10] */
.lh-08 { line-height: .8;}
.lh-09 { line-height: .9;}
.lh-11 { line-height: 1.1;}
.lh-12 { line-height: 1.2;}
.lh-13 { line-height: 1.3;}
.lh-14 { line-height: 1.4;}
.lh-15 { line-height: 1.5;}
.lh-16 { line-height: 1.6;}

/* MISC */
.center {
  place-content: center;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.abs-center-x {
  position: absolute;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
}
.fit { width: fit-content;}
.no-list { list-style: none;}
.cursive { font-family: cursive;}
.no-dec { text-decoration: none;}

.br-1 { border-radius: .5rem;}
.br-2 { border-radius: 1rem;}

.ls-1 { letter-spacing: .5px;}
.ls-2 { letter-spacing: 1px;}
.ls-3 { letter-spacing: 1.5px;}
.ls-4 { letter-spacing: 2px;}
.ls-5 { letter-spacing: 2.5px;}

@media only screen and (max-width: 700px) {
  .large-nav {
    display: flex;
    flex-direction: column;
  }
}

.w-100 { width: 100%;}
.square { aspect-ratio: 1;}
.ai-center { align-items: center;}
.max-1000 { max-width: 1000px;}
.m-auto { margin: auto;}